@model IEnumerable<Project_Sem3.Models.AspNetUser>

@{
    ViewBag.Title = "ListUser";
}
@* icon *@
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link href="~/Content/model.css" type="text/css" rel="stylesheet" />
<link href="~/assets/css/ListUser.css" type="text/css" rel="stylesheet" />
<main id="member">
    <h2 class="text-center main-title">Member</h2>

    <div class="listUser-table container-lg">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="table-title">
                    <th class="col-lg-9">Profile</th>
                    <th class="col-lg-1">Status</th>
                    <th class="col-lg-2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.AspNetRoles.SingleOrDefault().Name.Equals("Admin"))
                    {
                        continue;
                    }
                    var birthDate = @item.BirthDate.ToString("dd/MM/yyyy");
                    <tr>
                        <td class="profile-item">
                            <div class="profile-item-avt">
                                <div><img src="~/assets/img/avatar/@item.Image" /></div>
                                <h6 class="profile-item-name">@Html.DisplayFor(modelItem => item.Name)</h6>
                            </div>
                            <div class="profile-item-infor">
                                <ul>
                                    <li><ion-icon name="person-sharp"></ion-icon><b class="item-infor-title">Position: </b>@item.AspNetRoles.SingleOrDefault().Name</li>
                                    <li><ion-icon name="mail-sharp"></ion-icon><b class="item-infor-title"> Email: </b>@item.Email</li>
                                    <li><ion-icon name="call-sharp"></ion-icon><b class="item-infor-title"> Phone: </b>@item.PhoneNumber</li>
                                    <li><ion-icon name="calendar-sharp"></ion-icon><b class="item-infor-title"> Birth Date: </b>@birthDate</li>

                                </ul>
                            </div>
                        </td>
                        <td class="status-item">
                            @if (item.EmailConfirmed)
                            {
                                if (item.isResigned)
                                {
                                    <span style="color: red; font-weight: 600;">Resigned</span>
                                }
                                else
                                {
                                    <span style="font-weight: 600; color:forestgreen;">Working</span>
                                }
                            }
                            else
                            {
                                <span style="color: #bb6b2e; font-weight:600;">Processing</span>
                            }
                        </td>
                        <td class="action-item">
                            @if (!item.EmailConfirmed)
                            {
                                <div class="btn-group mx-1" role="group" aria-label="Action buttons">
                                    <button data-id="@item.Id" class="btn-group-success accept-btn">Accept</button>
                                    <button data-id="@item.Id" class="btn-group-danger delete-btn">Reject</button>
                                </div>
                            }
                            else
                            {
                                if (item.isResigned)
                                {
                                    <button data-id="@item.Id" class="shadow delete-btn">Delete</button>
                                }
                                else
                                {
                                    <a href="#" class="btn btn-default ">No action</a>
                                }

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>

<script>

    document.addEventListener('DOMContentLoaded', () => {



        $('.delete-btn').click(function () {
            var id = $(this).data('id');
            if (confirm("Are you want deleted this user?")) {

                $.ajax({
                    url: '/Admin/DeleteUser',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                            alert(result.message);
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            }
        });
        $('.accept-btn').click(function () {
            var id = $(this).data('id');
            if (confirm("Are you want accepted this user ?")) {

                $.ajax({
                    url: '/Admin/AcceptRegistration',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                            alert(result.message);
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            }
        });


    });

</script>