@model IEnumerable<Project_Sem3.Models.AspNetUser>

@{
    ViewBag.Title = "ListUser";
}
<link href="~/Content/model.css" type="text/css" rel="stylesheet" />

<h2>List User</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th class="col-sm-2 col-lg-1">@Html.DisplayNameFor(model => model.Name)</th>
                <th class="col-sm-2 col-lg-1">Role</th>
                <th class="col-sm-3 col-lg-2">@Html.DisplayNameFor(model => model.Email)</th>
                <th class="col-sm-2 col-lg-1">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                <th class="col-sm-2 col-lg-1">@Html.DisplayNameFor(model => model.BirthDate)</th>
                <th class="col-sm-2 col-lg-1">Status</th>
                <th class="col-sm-2 col-lg-2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var birthDate = @item.BirthDate.ToString("dd/MM/yyyy");
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.AspNetRoles.SingleOrDefault().Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>@birthDate</td>
                    <td>
                        @if (item.EmailConfirmed)
                        {
                            if (item.isResigned)
                            {
                                <span style="color:red">Resigned</span>
                            }
                            else
                            {
                                <span class="text-success">Working</span>
                            }
                        }
                        else
                        {
                            <span style="color:coral">Processing</span>
                        }
                    </td>
                    <td>
                        @if (!item.EmailConfirmed)
                        {
                            <div class="btn-group mx-1" role="group" aria-label="Action buttons">
                                <button type="submit" data-id="@item.Id" class="btn btn-success accept-btn">Accept</button>
                                <button type="submit" data-id="@item.Id" class="btn btn-danger delete-btn">Reject</button>
                            </div>
                        }
                        else
                        {
                            if (item.isResigned)
                            {
                                <button data-id="@item.Id" class="btn btn-danger delete-btn">Delete</button>
                            }
                            else
                            {
                                <a href="#" class="btn btn-default">Detail</a>
                            }

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
   
    document.addEventListener('DOMContentLoaded', () => {

        
       
        $('.delete-btn').click(function () {
            var id = $(this).data('id');
            if (confirm("Bạn có chắc muốn xóa?")) {

                $.ajax({
                    url: '/Admin/DeleteUser',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                            alert(result.message);
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            }
        });
        $('.accept-btn').click(function () {
            var id = $(this).data('id');
            if (confirm("Bạn có chắc muốn xóa?")) {

                $.ajax({
                    url: '/Admin/AcceptRegistration',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                            alert(result.message);
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            }
        });

    });

</script>