@model IEnumerable<Project_Sem3.Models.AspNetUser>

@{
    ViewBag.Title = "ListUser";
}

<h2>ListUser</h2>
@if (ViewBag.DeleteMessage != null)
{
    <script>window.alert('@ViewBag.DeleteMessage');</script>
}
@if (ViewBag.AcceptMessage != null)
{
    <script>window.alert(ViewBag.DeleteMessage);</script>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            <label>Role</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            <label>Status</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetRoles.SingleOrDefault().Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @if (item.EmailConfirmed)
                {
                    if (item.isResigned)
                    {
                        <span style="color:red">Resigned</span>
                    }
                    else
                    {
                        <span class="text-success">Working</span>
                    }
                }
                else
                {
                    <span style="color:coral">Processing</span>
                }
            </td>

            <td>

                @{
                    if (!item.EmailConfirmed)
                    {
                        using (Html.BeginForm("AcceptRegistration", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <input type="hidden" value="@item.Id" name="id" />
                            <button type="submit" class="btn btn-default">Accept</button>
                        }
                        using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <input type="hidden" value="@item.Id" name="id" />
                            <button type="submit" class="btn btn-default">Reject</button>
                        }
                    }
                    else
                    {
                        if (item.isResigned)
                        {
                            using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <input type="hidden" value="@item.Id" name="id" />
                                <button type="submit" class="btn btn-default">Delete</button>
                            }

                        }
                        else
                        {
                                <a href="#" class="btn btn-default">Detail</a>
                        }

                    }
                }
            </td>
        </tr>
    }

</table>
