<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Green Survey</title>
    <link rel="shortcut icon" href="~/assets/img/Logo.png" />
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/EditProfile.css" />
    <script src="~/assets/js/EditProfile.js"></script>
    <!-- =======================================================
    * Template Name: Impact - v1.2.0
    * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>


@using Microsoft.AspNet.Identity
@using Project_Sem3.Models
@{
    KSMTDbContext db = new KSMTDbContext();
    var userId = User.Identity.GetUserId();
    String patternPass = "^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&amp;*]).{6,}$";
    var user = db.AspNetUsers.Find(userId);
    var registration = db.Registrations.FirstOrDefault(r => r.UserId.Equals(userId));
    ImageProcessViewModel imageProcess = new ImageProcessViewModel();
}
<body>
    @*
        dialog Edit
    *@
    @if (Request.IsAuthenticated)
    {

        <div class="dialog-editProfile">
            <div class="Editprofile-modal-o"></div>
            <div class="Editprofile-dialog-body">
                <div class="dialogEditProfile-top">
                    <ul class="nav nav-tabs border-0">
                        <li class="nav-item active">
                            <a class="nav-link" data-toggle="tab" href="#item-1">Infomation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#item-2">Password</a>
                        </li>
                    </ul><div class="close-editProfile">
                        &times;
                    </div>
                </div>
                <div class="editProfile-form tab-content">
                    <div id="item-1" class="tab-pane fade show active">
                        @using (Html.BeginForm("EditProfile", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                        {
                            string imageUrl = "";

                            if (user.Image != null)
                            {
                                imageUrl = imageProcess.getImageUrl(user.Image);
                            }
                            @Html.AntiForgeryToken()
                        <div class="editProfile-image">
                            <div class="editProfile-image-img">
                                <img id="myImage" src="@imageUrl" alt="Your Avatar">
                                <br>
                                <input type="file" name="Image" onchange="loadImage(event)">
                            </div>
                            @if (user.Image != null)
                            {
                                <p name="currentAvatar" hidden>@Convert.ToBase64String(user.Image)</p>
                            }
                            <div class="editProfile-image-name">
                                <h5>@user.Name</h5>
                                <p>@user.AspNetRoles.SingleOrDefault().Name</p>
                            </div>

                        </div>
                            <div class="line">

                            </div>

                            <div class="editProfile-item">
                                <label>Name</label>
                                <input class="ip-editProfile" type="text" name="Name" value="@user.Name" required pattern="^[\p{L} ]+$" />
                            </div>
                            if (user.AspNetRoles.First().Name == "Admin")
                            {
                                <input class="editProfile-checkbox_input" type="checkbox" name="isResigned" hidden />
                            }
                            else
                            {
                                <div class="editProfile-item editProfile-checkbox">
                                    <label class="editProfile-checkbox_label">Resign</label>
                                    @if (user.isResigned)
                                    {
                                        <input class="editProfile-checkbox_input" type="checkbox" name="isResigned" checked />
                                    }
                                    else
                                    {
                                        <input class="editProfile-checkbox_input" type="checkbox" name="isResigned" />
                                    }
                                </div>

                            }

                            <div class="editProfile-item">
                                <label>Input Curent Password to Change </label>
                                <input class="ip-editProfile" type="password" name="CurrentPassword" placeholder="*********" required />
                            </div>
                            <div class="line"></div>
                            <div class="editProfile-btn-save">
                                <button class="edit-btn-save" type="submit">Save</button>
                            </div>

                        }
                    </div>
                    <div id="item-2" class="tab-pane fade show">
                        @using (Html.BeginForm("EditPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                        {

                            @Html.AntiForgeryToken()

                            <div class="editProfile-item">
                                <label>Your Email</label>
                                <input class="ip-editProfile" value="@user.Email" readonly style="opacity:0.85; border:none"/>
                            </div>
                            <div class="editProfile-item">
                                <label>New Password</label>
                                <input class="ip-editProfile" type="password" name="NewPassword" placeholder="enter your new password " pattern="@patternPass" />
                            </div>
                            <div class="editProfile-item">
                                <label>Comfirm Password</label>
                                <input class="ip-editProfile" type="password" name="ConfirmPassword" placeholder="confirm your new password " />
                            </div>

                            <div class="editProfile-item">
                                <label>Input Curent Password to Change </label>
                                <input class="ip-editProfile" type="password" name="CurrentPassword" placeholder="*********" required />
                            </div>
                            <div class="line"></div>
                            <div class="editProfile-btn-save">
                                <button class="edit-btn-save" type="submit">Save</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        if (registration != null)
        {
            <div class="dialog-editAccountSurvey">
                <div class="Editprofile-modal-o"></div>
                <div class="Editprofile-dialog-body">
                    <div class="close-editAccountSurvey">
                        &times;
                    </div>

                    <div class="editProfile-form">
                        @using (Html.BeginForm("EditAccountSurvey", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            //
                            <input name="Id" value="@registration.Id" hidden />
                            //
                            <div class="editProfile-item">
                                <label>Name</label>
                                <input class="ip-editProfile" type="text" name="Name" value="@registration.Name" required />
                            </div>

                            <div class="editProfile-item">
                                <label>Class</label>
                                <input class="ip-editProfile" name="ClassName" placeholder="Your class name" value="@registration.ClassName" required />
                            </div>
                            <div class="editProfile-item">
                                <label>Specification</label>
                                <input class="ip-editProfile" name="Specification" placeholder="Your specification" value="@registration.Specification" required />
                            </div>
                            <div class="editProfile-item">
                                <label>Section</label>
                                <input class="ip-editProfile" name="Section" placeholder="Your section" value="@registration.Section" required />
                            </div>
                            <div class="line"></div>
                            <div class="editProfile-btn-save">
                                <button class="edit-btn-delete" type="submit" data-id="@registration.Id">Delete</button>
                                <button class="edit-btn-save float-end" type="submit">Save</button>
                            </div>


                        }
                    </div>
                </div>
            </div>
        }
    }

    <!-- ======= Header ======= -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section><!-- End Top Bar -->

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="../Home/index" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="~/assets/img/logo.png" alt="">
                <h1>Green<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav><!-- .navbar -->
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
    <!-- End Header -->
    <!-- Main-->
    @RenderBody()
    <!-- End Main-->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span>Green</span>
                    </a>
                    <p>We are an organization specializing in environmental surveys. With the desire to contribute a part in propaganda about environmental protection.</p>
                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/Home/index">Home</a></li>
                        <li><a href="/Support/Support">Support</a></li>
                        <li><a href="/FAQs/FAQ">FAQ's</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>



                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        88 Yen Bai HaiChau1 <br>
                        VNPT DaNang Town<br>
                        VietNam <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> project@sem3.com<br>
                    </p>

                </div>

            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Green</span></strong>. All Rights Reserved
            </div>
            <div class="credits">

                Designed by <a href="#">T2Q</a>
            </div>
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>