<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/assets/css/layout/navbarcss.css" rel="stylesheet" />
     
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>




    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Service</h2>
                        <div class="service">
                            <a href="#">Report problem</a>
                            <a href="#">FAQ's</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2>Follow Us</h2>
                        <div class="service">
                            <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
                            <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
                            <a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2>Host line</h2>
                        <div class="service">
                            <p><i class="fa-solid fa-phone"></i> 0315872155</p>
                            <p><i class="fa-solid fa-phone"></i> 0315872155</p>
                            <p><i class="fa-solid fa-phone"></i> 0315872155</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
