@using Microsoft.AspNet.Identity
@using Project_Sem3.Models

@if (Request.IsAuthenticated)
{

    KSMTDbContext db = new KSMTDbContext();

    var userId = User.Identity.GetUserId();
    var user = db.AspNetUsers.Find(userId);
    var registration = db.Registrations.FirstOrDefault(r => r.UserId.Equals(userId));

    switch (user.AspNetRoles.First().Name)
    {
        case "Admin":
            <li><a href="~/home/index" class="home">Home</a></li>
            <li><a href="~/competitions/Adcompetition" class="survey">Survey</a></li>
            <li><a href="~/Admin/ListUser" class="member">Member</a></li>
            <li><a href="~/Supports/AdSupport" class="support">Support</a></li>
            <li><a href="~/FAQs/adFAQs" class="faq">FAQ’s</a></li>
            <li class="dropdown-child"></li>
            <li class="dropdown">
                <a href="#"><ion-icon style="font-size:28px ;padding-right:10px" name="person-circle-outline"></ion-icon> <span> @user.Name</span></a>
                <ul class="dropdown-child " style="z-index:1;">
                    <li><a class="editProfile">Edit Profile</a></li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                    }

                </ul>
            </li>

            <li class="dropdown-child-mobie"><a class="editProfile">Edit Profile</a></li>
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <li class="dropdown-child-mobie"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
            }

            break;
        case "Employee":
        case "Student":
            <li><a href="~/home/index" class="home">Home</a></li>
            <li><a href="~/competitions/competition" class="survey">Survey</a></li>
            <li><a href="~/Supports/Support" class="support">Support</a></li>
            <li><a href="~/FAQs/FAQ" class="faq">FAQ’s</a></li>
            <li class="dropdown">
                <a href="#"><ion-icon style="font-size:28px ;padding-right:10px" name="person-circle-outline"></ion-icon> <span> @user.Name</span></a>
                <ul class="dropdown-child" style="z-index:1;">
                    <li><a class="editProfile">Edit Profile</a></li>
                    @if (registration != null)
                    {
                        <li><a class="editAccountSurvey">Edit Account Survey</a></li>
                    }
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                    }

                </ul>
            </li>
            if (registration != null)
            {
                <li class="dropdown-child-mobie"><a class="editAccountSurvey">Edit Account Survey</a></li>
            }
            <li class="dropdown-child-mobie"><a class="editProfile">Edit Profile</a></li>
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <li class="dropdown-child-mobie"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
            }
            break;

        default:

            <li><a href="~/home/index" class="home">Home</a></li>
            <li><a href="~/competitions/competition" class="survey">Survey</a></li>
            <li><a href="~/Supports/Support" class="support">Support</a></li>
            <li><a href="~/FAQs/FAQ" class="faq">FAQ’s</a></li>
            <li class="dropdown-child"></li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            break;

    }


    <script>
        function loadImage(event) {
            var image = document.getElementById('myImage');
            image.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
}
else
{ <li><a href="~/home/index" class="home">Home</a></li>
    <li><a href="~/competitions/competition" class="survey">Survey</a></li>
    <li><a href="~/Supports/Support" class="support">Support</a></li>
    <li><a href="~/FAQs/FAQ" class="faq">FAQ’s</a></li>
    <li class="dropdown-child"></li>
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
