@using Microsoft.AspNet.Identity
@using Project_Sem3.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        KSMTDbContext db = new KSMTDbContext();
        @Html.AntiForgeryToken()
        var userId = User.Identity.GetUserId();
        var user = db.AspNetUsers.Find(userId);
        switch (user.AspNetRoles.First().Name)
        {
            case "Admin":

                <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav">
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Home</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Survey Board</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Edit Profile</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Support</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">FAQ’s</a></li>
                    </ul>
                </ul> break;
            case "Employee":

                <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav">
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Home</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Survey Board</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Edit Profile</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Support</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">FAQ’s</a></li>
                    </ul>
                </ul> break;
            case "Student":

                <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav">
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Home</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Survey Board</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Edit Profile</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">Support</a></li>
                        <li class="item"><a href="~/Views/Home/Index.cshtml">FAQ’s</a></li>
                    </ul>
                </ul> break;
            default:
                <ul class="nav navbar-nav">
                    <li class="item"><a href="~/Views/Home/Index.cshtml">Home</a></li>
                    <li class="item"><a href="~/Views/Home/Index.cshtml">Survey Board</a></li>
                    <li class="item"><a href="~/Views/Home/Index.cshtml">Edit Profile</a></li>
                    <li class="item"><a href="~/Views/Home/Index.cshtml">Support</a></li>
                    <li class="item"><a href="~/Views/Home/Index.cshtml">FAQ’s</a></li>
                </ul>
                break;
        }
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + user.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            <li>@Html.ActionLink(@user.AspNetRoles.First().Name, "Index", "Home")</li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
