@using Microsoft.AspNet.Identity
@using Project_Sem3.Models

@if (Request.IsAuthenticated)
{
    <link rel="stylesheet" type="text/css" href="~/assets/css/EditProfile.css" />
    <script src="~/assets/js/EditProfile.js"></script>
    KSMTDbContext db = new KSMTDbContext();
    String patternPass = "^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&amp;*]).{6,}$";
    var userId = User.Identity.GetUserId();
    var user = db.AspNetUsers.Find(userId);
    switch (user.AspNetRoles.First().Name)
    {
        case "Admin":
            <li><a href="~/home/index" class="home">Home</a></li>
            <li><a href="~/competitions/Adcompetition" class="survey">Survey</a></li>
            <li><a href="~/Admin/ListUser" class="member">Member</a></li>
            <li><a href="~/Supports/index" class="support">Support</a></li>
            <li><a href="~/FAQs/index" class="faq">FAQ’s</a></li>
            <li class="dropdown-child"></li>
            <li class="dropdown">
                <a href="#"><ion-icon style="font-size:28px ;padding-right:10px" name="person-circle-outline"></ion-icon> <span> @user.Name</span></a>
                <ul class="dropdown-child">
                    <li><a class="editProfile">Edit Profile</a></li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                    }

                </ul>
            </li>

            <li class="dropdown-child-mobie"><a class="editProfile">Edit Profile</a></li>
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <li class="dropdown-child-mobie"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
            }

            break;
        case "Employee":
            <li><a href="~/home/index" class="home">Home</a></li>
            <li><a href="~/competitions/competition" class="survey">Survey</a></li>
            <li><a href="~/Supports/index" class="support">Support</a></li>
            <li><a href="~/FAQs/index" class="faq">FAQ’s</a></li>
            <li class="dropdown">
                <a href="#"><ion-icon style="font-size:28px ;padding-right:10px" name="person-circle-outline"></ion-icon> <span> @user.Name</span></a>
                <ul class="dropdown-child">
                    <li><a class="editProfile">Edit Profile</a></li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                    }

                </ul>
            </li>

            <li class="dropdown-child-mobie"><a class="editProfile">Edit Profile</a></li>
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <li class="dropdown-child-mobie"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
            }
            break;
        case "Student":
            <li><a href="~/home/index" class="home">Home</a></li>
            <li><a href="~/competitions/competition" class="survey">Survey</a></li>
            <li><a href="~/Supports/index" class="support">Support</a></li>
            <li><a href="~/FAQs/index" class="faq">FAQ’s</a></li>
            <li class="dropdown">
                <a href="#"><ion-icon style="font-size:28px ;padding-right:10px" name="person-circle-outline"></ion-icon> <span> @user.Name</span></a>
                <ul class="dropdown-child">
                    <li><a class="editProfile">Edit Profile</a></li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                    }

                </ul>
            </li>

            <li class="dropdown-child-mobie"><a class="editProfile">Edit Profile</a></li>
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <li class="dropdown-child-mobie"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
            }
            break;
        default:

            <li><a href="~/home/index" class="home">Home</a></li>
            <li><a href="~/competitions/competition" class="survey">Survey</a></li>
            <li><a href="~/Supports/index" class="support">Support</a></li>
            <li><a href="~/FAQs/index" class="faq">FAQ’s</a></li>
            <li class="dropdown-child"></li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            break;

    }

    <div class="dialog-editProfile hidden">
        <div class="modal-o"></div>
        <div class="dialog-body">
            <div class="close-editProfile">
                &times;
            </div>
            <div class="editProfile-form">
                @using (Html.BeginForm("EditProfile", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="editProfile-image">
                        <div class="editProfile-image-img">
                            <img id="myImage" src="~/assets/img/Avatar/@user.Image" alt="Your Avatar">
                            <br>
                            <input type="file" name="Image" onchange="loadImage(event)">
                        </div>
                        <div class="editProfile-image-name">
                            <h5>@user.Name</h5>
                        </div>

                    </div>
                    <div class="line">

                    </div>

                    <div class="editProfile-item">
                        <label>Name</label>
                        <input class="ip-editProfile" type="text" name="Name" value="@user.Name" required pattern="^[\p{L} ]+$" />
                    </div>

                    <div class="editProfile-item">
                        <label>New Password</label>
                        <input class="ip-editProfile" type="password" name="NewPassword" placeholder="leave blank if no changes" pattern="@patternPass" />
                    </div>
                    <div class="editProfile-item">
                        <label>Comfirm Password</label>
                        <input class="ip-editProfile" type="password" name="ConfirmPassword" placeholder="leave blank if no changes" />
                    </div>
                    if (user.AspNetRoles.First().Name == "Admin")
                    {
                        <input class="editProfile-checkbox_input" type="checkbox" name="isResigned" hidden/>
                    }
                    else
                    {
                        <div class="editProfile-item editProfile-checkbox">
                            <label class="editProfile-checkbox_label">Resign</label>
                            @if (user.isResigned)
                            {
                                <input class="editProfile-checkbox_input" type="checkbox" name="isResigned" checked />
                            }
                            else
                            {
                                <input class="editProfile-checkbox_input" type="checkbox" name="isResigned" />
                            }
                        </div>

                    }

                    <div class="editProfile-item">
                        <label>Input Curent Password to Change </label>
                        <input class="ip-editProfile" type="password" name="CurrentPassword" placeholder="*********" required />
                    </div>
                    <div class="line"></div>
                    <div class="editProfile-btn-save">
                        <button class="edit-btn-save" type="submit">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <script>
        function loadImage(event) {
            var image = document.getElementById('myImage');
            image.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
}
else
{
    <li><a href="~/home/index" class="home">Home</a></li>
    <li><a href="~/competitions/competition" class="survey">Survey</a></li>
    <li><a href="~/Supports/index" class="support">Support</a></li>
    <li><a href="~/FAQs/index" class="faq">FAQ’s</a></li>
    <li class="dropdown-child"></li>
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
