@model Project_Sem3.Models.RegisterViewModel
@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/assets/assetsLogin/images/icons/favicon.ico" />

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/assetsLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/assetsLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/assetsLogin/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/assetsLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/assetsLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/assetsLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/assetsLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/assetsLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/assetsLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/assets/assetsLogin/css/main.css">

    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('https://i0.wp.com/thatnhucuocsong.com.vn/wp-content/uploads/2022/02/hinh-bao-ve-moi-truong-xanh-sach-dep.jpeg?ssl=1'); ">
            <div class="wrap-login100">
                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal login100-form validate-form", role = "form" , enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-logo">
                        <img src="~/assets/img/Logo.png" width="100%"/>
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        Register
                    </span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row role-container">
                        <label class="col-3 col-form-label" for="employee">You Are</label>
                        <div class="col-9">
                            <div class="form-group ">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="role" id="employee" value="Employee" checked>
                                    <label class="form-check-label" for="employee">Faculty or Staff</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="role" id="student" value="Student">
                                    <label class="form-check-label" for="student">Student</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(m => m.Name, new { @class = "input100", @placeholder = "Name" })
                        <span class="focus-input100" data-placeholder="&#9752;"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(m => m.BirthDate, new { @class = "input100", @placeholder = "Birth Date" })
                        <span class="focus-input100" data-placeholder="&#9752;"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "input100", @placeholder = "Phone", type="number" })
                        <span class="focus-input100" data-placeholder="&#9752;"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100", @placeholder = "Email", @type="email" })
                        <span class="focus-input100" data-placeholder="&#9752;"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        @Html.PasswordFor(m => m.Password, new { @class = "input100", @placeholder = "Password" })
                        <span class="focus-input100" data-placeholder="&#9752;"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input100", @placeholder = "Confirm Password" })
                        <span class="focus-input100" data-placeholder="&#9752;"></span>
                    </div>
                    <div class="wrap-input100 register-image">
                        <label>&#9752; Image</label>
                        <input name="Imagee" class="" type="file"/>
                    </div>
                    <div class="container-login100-form-btn">
                        <input type="submit" class="login100-form-btn" vla>
                    </div>

                    <div class="txt1 text-center p-t-35 text-bg-info">
                       you already have an account ?
                        <a class="form-text" href="~/Account/Login">
                            Login
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/assets/assetsLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/assetsLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/assetsLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/assets/assetsLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/assetsLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/assetsLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/assets/assetsLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/assetsLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/assetsLogin/js/main.js"></script>


</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



