@model IEnumerable<Project_Sem3.Models.Competition>
@using Microsoft.AspNet.Identity
@using Project_Sem3.Models
@{
    ViewBag.Title = "View";
}
@{
    KSMTDbContext db = new KSMTDbContext();
    List<AnswerResult> listas = db.AnswerResults.ToList();
    var name = "";
    var userId = "";
    Registration registration = null;
    if (Request.IsAuthenticated)
    {
        var Id = User.Identity.GetUserId();
        var user = db.AspNetUsers.Find(Id);
        name = user.Name;
        userId = user.Id;
        registration = db.Registrations.SingleOrDefault(r => r.UserId == userId);
    }
}
<link href="~/assets/css/ADcompetition.css" rel="stylesheet" />
<script src="~/assets/js/ADCompetition.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Tilt+Neon&display=swap" rel="stylesheet">
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>alert("@ViewBag.SuccessMessage");</script>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <script>alert("@ViewBag.ErrorMessage");</script>
}
  
<main id="survey" >
    <div class="Competition">
        <div class="container-fluid">
            <div class="CP-top">
                <div class="row">
                    <div class="col-md-5">
                        <img src="~/assets/img/Competition/cp-top.jpg" / data-aos="zoom-out" data-aos-delay="100">
                    </div>
                    <div class="col-md-7" data-aos="fade-up">
                        <h2>Competition</h2>
                        <h6>
                            Environmental survey is the process of gathering information about the environment and
                            the impacts of human activities on it. It helps to assess the current state of the
                            environment, predict the impacts of future activities, and provide solutions to
                            protect and improve the environment.
                        </h6>
                    </div>
                </div>
            </div>
            <div class="line1">
                <p></p>
            </div>
            <div class="cp-add">
                <a class="btn-add btn-dialog-add data-aos="fade-up"">
                    ADD COMPETITION +
                </a>
            </div>
            <div class="table-scroll" data-aos="fade-up">
                <table class="table">
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Time</th>
                        <th>Joined</th>
                        <th>Question</th>
                        <th>Right Answer</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var m in Model)
                    {
                        <tr class="ts">
                            <td class="no">
                                <p>@m.Id</p>
                            </td>
                            <td class="title">
                                <p>@m.Title</p>
                            </td>
                            <td class="description">
                                <p>@m.Description</p>
                            </td>
                            <td class="date">
                                <p>@m.StartDate.ToString("dd/MM/yyyy") - @m.EndDate.ToString("dd/MM/yyyy")</p>
                            </td>
                            <td class="contestant">
                                <p>@m.AnswerResults.Count</p>
                            </td>
                            <td class="question">
                                <p>@m.Question</p>
                            </td>
                            <td class="answer">
                                <p>@m.RightAnswer</p>
                            </td>

                            <td class="btn-rgt-cp-ad">
                                <div>
                                    <a class="btn-edit btn-dialog-edit">
                                        Edit
                                    </a>
                                    <a class="btn-delete" data-id="@m.Id">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>

            </div>
            
                <h2>Mark</h2>
                <div class="cp-mark table-scroll" data-aos="fade-up">

                    <table class="table">
                        <tr>
                            <th>Roll ID</th>
                            <th>Name</th>
                            <th>CP-ID</th>
                            <th>Answer</th>
                            <th>Score</th>
                            <th>Status</th>
                        </tr>
                        @foreach (var m in listas)
                        {
                            <tr>
                                @using (Html.BeginForm("AddMark", "Competitions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input name="Date" value="@m.Date" hidden />
                                    <input name="IdRegistratedUser" value="@m.IdRegistratedUser" hidden />
                                    <input name="CompetitionId" value="@m.CompetitionId" hidden />
                                    <input name="Answer" value="@m.Answer" hidden />    
                                    <td class="cp-mark-uid">@m.IdRegistratedUser</td>
                                    <td class="cp-mark-uname">@m.Registration.Name</td>
                                    <td class="cp-mark-compe">@m.CompetitionId</td>
                                    <td class="cp-mark-answer">@m.Answer</td>
                                    <td class="cp-mark-score"><input name="Mark" value="@m.Mark" /></td>
                                    <td class="cp-mark-btn">
                                        <button type="submit" class="btn-apply">Apply</button>
                                        <button data-iduser="@m.IdRegistratedUser" data-idcp="@m.CompetitionId" class="delete-answer">Delete</button>
                                    </td>
                                }
                            </tr>
                                
                            
                        }
                    </table>
                </div>
        </div>
    </div>
    <div class="references" data-aos="fade-up">
        <h2>References</h2>
        <a href="#">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/assets/img/competition/rf1.jpg" />
                </div>
                <div class="col-md-9">
                    <h3>Assessment of environmental status and human impacts</h3>
                    <p>
                        This document assesses the current state of the environment and examines
                        the impact of human activities on natural resources. It covers various aspects
                        of the environment, such as air and water quality, land use, and biodiversity.
                        The report aims to provide insights into the current environmental conditions and
                        their relationship with ...
                    </p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/assets/img/Competition/images.jpg" />
                </div>
                <div class="col-md-9">
                    <h3>The phenomenon of weather is becoming increasingly difficult to explain.</h3>
                    <p>
                        Although scientists have analyzed and studied extensively about the weather,
                        there are still many different factors and impacts that can affect the weather.
                    </p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/assets/img/competition/rf2.jpg" />
                </div>
                <div class="col-md-9">
                    <h3>The need for clean energy is challenging for us.</h3>
                    <p>
                        The need for clean energy is crucial for a sustainable future, but transitioning
                        to it presents significant challenges such as investment in research, infrastructure,
                        and technology, as well as complex policy and regulatory frameworks.
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="dialog-add hidden table-scroll">
        <div class="modal-o"></div>
        <div class="dialog-body">
            <div class="close-btn">
                <p>&times;</p>
            </div>
            <div class="cp-add-form">
                @using (Html.BeginForm("Create", "Competitions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="line">

                    </div>
                    <div class="cp-add-item">
                        <label class="lb-add-cp dialog-title">Title</label>
                        <input class="ip-add-cp dialog-title" type="text" name="Title" />
                    </div>
                    <div class="cp-add-item">
                        <label class="lb-add-cp">Description</label>
                        <textarea class="cp-add-description dialog-description" name="Description" rows="3"></textarea>
                    </div>
                    <div class="cp-add-item-date">
                        <div class="item-date">
                            <label class="lb-add-cp">Start Date</label>
                            <input class="ip-add-cp" name="StartDate" type="date" />
                        </div>
                        <div class="item-date">
                            <label class="lb-add-cp">End Date</label>
                            <input class="ip-add-cp" name="EndDate" type="date" />
                        </div>

                    </div>
                    <div class="cp-add-item">
                        <label class="lb-add-cp">Question</label>
                        <textarea class="cp-add-description dialog-question" name="Question" rows="2"></textarea>
                    </div>
                    <div class="cp-add-item">
                        <label class="lb-add-cp">Answer</label>
                        <textarea class="cp-add-description dialog-answer" name="RightAnswer" rows="4"></textarea>
                    </div>
                    <div class="btn-add-cp">
                        <button class="btn-add-cp-item" type="submit">ADD</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="dialog-edit hidden">
        <div class="modal-o"></div>
        <div class="dialog-body">
            <div class="close-btn">
                &times;
            </div>
            <div class="cp-add-form">
                @using (Html.BeginForm("Edit", "Competitions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <h2>Edit competition</h2>
                    <div class="cp-add-item" hidden>
                        <label class="lb-add-cp"></label>
                        <input class="ip-add-cp" id="id" name="id" type="text" />
                    </div>
                    <div class="line"></div>
                    <div class="cp-add-item">
                        <label class="lb-add-cp"></label>
                        <input class="ip-add-cp" id="title" name="title" type="text" />
                    </div>
                    <div class="cp-add-item">
                        <label class="lb-add-cp">Description</label>
                        <textarea class="cp-add-description" id="description" name="description" rows="4"></textarea>
                    </div>
                    <div class="cp-add-item-date">
                        <div class="item-date">
                            <label class="lb-add-cp">Start Date</label>
                            <input class="ip-add-cp" id="startDate" name="StartDate" type="date" />
                        </div>
                        <div class="item-date">
                            <label class="lb-add-cp">End Date</label>
                            <input class="ip-add-cp" name="EndDate" id="endDate" type="date" />
                        </div>
                    </div>
                    <div class="cp-add-item">
                        <label class="lb-add-cp">Question</label>
                        <textarea class="cp-add-description" name="question" id="question" rows="4"></textarea>
                    </div>
                    <div class="cp-add-item">
                        <label class="lb-add-cp">Answer</label>
                        <textarea class="cp-add-description" name="RightAnswer" id="RightAnswer" rows="2"></textarea>
                    </div>
                    <div class="btn-add-cp">
                        <button type="submit" class="btn-add-cp-item btn__edit-save">Save</button>
                    </div>
                }
            </div>
            
        </div>

    </div>
</main>

