@model IEnumerable<Project_Sem3.Models.Competition>

@{
    ViewBag.Title = "View";
}



<div class="Competition">
    <div class="container-fluid">
        <div class="CP-top">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/assets/img/Competition/cp-top.jpg" />
                </div>
                <div class="col-md-7">
                    <h2>Competition</h2>
                    <h6>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quisque volutpat, diam ut rhoncus lobortis, erat sapien fringilla orci,
                        at luctus leo mauris ut metus. Donec sit amet augue vitae augue tempor tincidunt.
                        Curabitur vitae tortor arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quisque volutpat, diam ut rhoncus lobortis, erat sapien fringilla orci, at luctus leo
                        mauris ut metus. Donec sit amet augue vitae augue tempor tincidunt. Curabitur vitae
                        tortor arcu.
                    </h6>
                </div>
            </div>
        </div>
        <div class="line">

        </div>
        <div class="cp-add">
            <a class="btn-add btn-dialog">
                ADD COMPETITION +
            </a>
        </div>
        <table class="table">
            <tr>
                <th>No</th>
                <th>Description</th>
                <th>Time</th>
                <th>Contestant</th>
                <th>Status</th>
            </tr>
            @foreach (var m in Model)
            {
                <tr class="ts">
                    <td class="no">
                        <p cla>@m.Id</p>
                    </td>
                    <td class="description">
                        <p>@m.Description</p>
                    </td>
                    <td class="date">
                        <p>@m.StartDate.ToString("dd/MM/yyyy") - @m.EndDate.ToString("dd/MM/yyyy")</p>
                    </td>
                    <td class="contestant">
                        <p>@m.UserCompetitions.Count</p>
                    </td>
                    <td class="btn-rgt-cp-ad">
                        <a class="btn-edit btn-dialog" data-title="@m.Title">
                            Edit
                        </a>
                        <a class="btn-delete" data-id="@m.Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </table>

    </div>

</div>
<div class="references">
    <h2>References</h2>
    <a href="#">
        <div class="row">
            <div class="col-md-3">
                <img src="~/assets/img/Competition/images.jpg" />
            </div>
            <div class="col-md-9">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quisque volutpat, diam ut rhoncus lobortis, erat sapien fringilla orci,
                    at luctus leo mauris ut metus. Donec sit amet augue vitae augue tempor tincidunt.
                    Quisque volutpat, diam ut rhoncus lobortis, erat sapien fringilla orci,
                    at luctus leo mauris ut metus. Donec sit amet augue vitae augue tempor tincidunt.
                    Donec sit amet augue vitae augue tempor tincidunt.
                </p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="row">
            <div class="col-md-3">
                <img src="~/assets/img/Competition/images.jpg" />
            </div>
            <div class="col-md-9">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quisque volutpat, diam ut rhoncus lobortis, erat sapien fringilla orci,
                    at luctus leo mauris ut metus. Donec sit amet augue vitae augue tempor tincidunt.
                    Quisque volutpat, diam ut rhoncus lobortis, erat sapien fringilla orci,
                    at luctus leo mauris ut metus. Donec sit amet augue vitae augue tempor tincidunt.
                    Donec sit amet augue vitae augue tempor tincidunt.
                </p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="row">
            <div class="col-md-3">
                <img src="~/assets/img/Competition/images.jpg" />
            </div>
            <div class="col-md-9">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quisque volutpat, diam ut rhoncus lobortis, erat sapien fringilla orci,
                    at luctus leo mauris ut metus. Donec sit amet augue vitae augue tempor tincidunt.
                    Quisque volutpat, diam ut rhoncus lobortis, erat sapien fringilla orci,
                    at luctus leo mauris ut metus. Donec sit amet augue vitae augue tempor tincidunt.
                    Donec sit amet augue vitae augue tempor tincidunt.
                </p>
            </div>
        </div>
    </a>

</div>
<div class="dialog hidden">
    <div class="modal-o"></div>
    <div class="dialog-body">
        <div class="close-btn">
            &times;
        </div>
        <div class="cp-add-form">
            <h2>Add new competition</h2>
            <div class="line">

            </div>
            <div class="cp-add-item">
                <label class="lb-add-cp">Title</label>
                <input class="ip-add-cp dialog-title" type="text" />
            </div>
            <div class="cp-add-item">
                <label class="lb-add-cp">Description</label>
                <textarea class="cp-add-description dialog-description" rows="4"></textarea>
            </div>
            <div class="cp-add-item-date">
                <div class="item-date">
                    <label class="lb-add-cp">Start Date</label>
                    <input class="ip-add-cp dialog-StartDate" type="datetime" />
                </div>
                <div class="item-date">
                    <label class="lb-add-cp">End Date</label>
                    <input class="ip-add-cp dialog-EndDate" type="datetime" />
                </div>

            </div>
            <div class="cp-add-item">
                <label class="lb-add-cp">Question</label>
                <textarea class="cp-add-description dialog-question" rows="4"></textarea>
            </div>
            <div class="cp-add-item">
                <label class="lb-add-cp">Answer</label>
                <textarea class="cp-add-description dialog-answer" rows="2"></textarea>
            </div>
            <div class="btn-add-cp">
                <a class="btn-add-cp-item">ADD</a>
            </div>
        </div>
    </div>
</div>

<link href="~/assets/css/ADcompetition.css" rel="stylesheet" />
<script src="~/assets/js/ADCompetition.js"></script>
