@model IEnumerable<Project_Sem3.Models.Competition>
@using Microsoft.AspNet.Identity
@using Project_Sem3.Models

@{
    ViewBag.Title = "View";
}
@{
    KSMTDbContext db = new KSMTDbContext();
    List<AnswerResult> listas = db.AnswerResults.ToList();

    var name = "";
    var userId = "";
    Registration registration = null;
    if (Request.IsAuthenticated)
    {
        var Id = User.Identity.GetUserId();
        var user = db.AspNetUsers.Find(Id);
        name = user.Name;
        userId = user.Id;
        registration = db.Registrations.SingleOrDefault(r => r.UserId == userId);
    }
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>alert("@ViewBag.SuccessMessage");</script>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <script>alert("@ViewBag.ErrorMessage");</script>
}
<link href="~/assets/css/competition.css" rel="stylesheet" />

<main id="survey" data-aos="fade-up">
    <div class="CP-top">
        <div class="cp-top-bgr">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/assets/img/Competition/cp-top.jpg" / data-aos="zoom-out" data-aos-delay="100">
                </div>
                <div class="col-md-7" data-aos="fade-up">
                    <h2>Competition</h2>
                    <h6>
                        Environmental survey is the process of gathering information about the environment and
                        the impacts of human activities on it. It helps to assess the current state of the
                        environment, predict the impacts of future activities, and provide solutions to
                        protect and improve the environment.
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="Competition">
        <div class="container-fluid">

            <div class="line2">
                <p></p>
            </div>
            <div class="section-header">
                <h2>List Survey</h2>
            </div>
            <table class="table table-scroll" data-aos="fade-up">
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Time</th>
                    <th>Contestant</th>
                    <th>Status</th>
                </tr>
                @foreach (var m in Model.OrderByDescending(x => x.StartDate))
                {
                    <tr class="ts">
                        <td class="no">
                            <p class="id">@m.Id</p>
                        </td>
                        <td class="description">
                            <p>@m.Title</p>
                        </td>
                        <td class="date">
                            <p>@m.StartDate.ToString("dd/MM/yyyy") - @m.EndDate.ToString("dd/MM/yyyy")</p>
                        </td>
                        <td class="contestant">
                            <p>@m.AnswerResults.Count</p>
                        </td>
                        <td class="btn-rgt-cp">
                            @if (@m.EndDate.CompareTo(DateTime.Now) <= 0)
                            {
                                <a class="cp-btn-expired">
                                    Expired
                                </a>
                            }

                            else if (registration != null)
                            {
                                AnswerResult answerResult = m.AnswerResults.SingleOrDefault(a => a.IdRegistratedUser == registration.Id);
                                if (answerResult != null)
                                {
                                    <span class="cp-btn-completed">
                                        Completed
                                    </span>
                                }
                                else
                                {
                                    <a class="cp-btn-join" onclick="surveyFunction(@m.Id)">
                                        Join Now
                                    </a>
                                }
                            }
                            else
                            {
                                if (Request.IsAuthenticated)
                                {
                                    <a class="cp-btn-rgt" data-competitionId="@m.Id" data-userId="@userId" data-name="@name">
                                        Register
                                    </a>
                                }
                                else
                                {

                                }
                                {
                                    <a class="cp-btn-join" href="/Account/Login?returnUrl=@Request.Url.PathAndQuery">
                                        Login To Join
                                    </a>
                                }
                            }
                        </td>
                    </tr>
                }
            </table>



            @if (Request.IsAuthenticated && registration != null)
            {
                <div class="section-header">
                    <h2>Score</h2>
                </div>
                <div class="table-scroll">
                    <table class="table" data-aos="fade-up">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Answer</th>
                            <th>Mark</th>
                        </tr>
                        @foreach (var m in listas)
                        {
                            if (m.IdRegistratedUser == registration.Id)
                            {
                                <tr class="ts" data-aos="fade-up">
                                    <td class="no">
                                        <p>@m.CompetitionId</p>
                                    </td>
                                    <td class="title">
                                        <p>@m.Competition.Title</p>
                                    </td>
                                    <td class="answer">
                                        <p>@m.Answer</p>
                                    </td>
                                    <td class="Mark">
                                        <p>@m.Mark</p>
                                    </td>
                                </tr>
                            }
                        }
                    </table>

                </div>
            }

        </div>
    </div>
    <div class="references" data-aos="fade-up">
        <div class="section-header">
            <h2>References</h2>
        </div>
        <a href="#">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/assets/img/competition/rf1.jpg" />
                </div>
                <div class="col-md-9">
                    <h3>Assessment of environmental status and human impacts</h3>
                    <p>
                        This document assesses the current state of the environment and examines
                        the impact of human activities on natural resources. It covers various aspects
                        of the environment, such as air and water quality, land use, and biodiversity.
                        The report aims to provide insights into the current environmental conditions and
                        their relationship with ...
                    </p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/assets/img/Competition/images.jpg" />
                </div>
                <div class="col-md-9">
                    <h3>The phenomenon of weather is becoming increasingly difficult to explain.</h3>
                    <p>
                        Although scientists have analyzed and studied extensively about the weather,
                        there are still many different factors and impacts that can affect the weather.
                    </p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/assets/img/competition/rf2.jpg" />
                </div>
                <div class="col-md-9">
                    <h3>The need for clean energy is challenging for us.</h3>
                    <p>
                        The need for clean energy is crucial for a sustainable future, but transitioning
                        to it presents significant challenges such as investment in research, infrastructure,
                        and technology, as well as complex policy and regulatory frameworks.
                    </p>
                </div>
            </div>
        </a>
    </div>

</main>
<div class="dialog-cp-rgt">
    <div class="modal-o"></div>
    
    <div class="dialog-body">
        <div class="dialog-bgr">
            <div class="close-btn">
                &times;
            </div>
            @using (Html.BeginForm("Registration", "Competitions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "f-rigister" }))
            {
                @Html.AntiForgeryToken()
                <h3>Register Competition</h3>
                <label class="item " type="text" name="competitionId" id="dialog-competitionId" hidden></label>
                <input class="item" type="text" name="Name" id="dialog-name" placeholder="Name" required/>
                <input class="item" type="text" name="UserId" id="dialog-roll" placeholder="Roll No. or Employee id" required readonly />
                <input class="item" type="text" name="ClassName" placeholder="Class" required />
                <input class="item" type="text" name="Specification" placeholder="Specification" />
                <input class="item" type="text" name="Section" placeholder="Section" required />
                <div class="btn-rgt">
                    <button type="submit">Register</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function surveyFunction(id) {
        window.location.href = '/Competitions/Survey?id=' + id;
    }</script>
<script src="~/assets/js/Competition.js"></script>


