@model IEnumerable<Project_Sem3.Models.Support>
    @using Project_Sem3.Models
<link rel="stylesheet" href="~/assets/css/main.css" />
<link href="~/assets/css/Support.css" rel="stylesheet" />

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

@{
    ViewBag.Title = "Index";
    ImageProcessViewModel imageProcess = new ImageProcessViewModel();
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>alert("@ViewBag.SuccessMessage");</script>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <script>alert("@ViewBag.ErrorMessage");</script>
}


<main id="support">

    <div class="sp-top" data-aos="zoom-out" data-aos-delay="100">
        <div class="sp-top-top">
            <h2>Support</h2>
            <div class="sp-top-content">
                <p>
                    Support page is a website or software that supports customers in resolving technical
                    issues or questions related to the products or services of a company or organization.
                    Support page provides users with instructional materials, answers to frequently asked questions,
                    repair instructions, and other support resources. It also provides users with a direct contact channel
                    with customer support staff to help them resolve more complex issues.
                </p>
            </div>
        </div>
    </div>

    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Support team</h2>
            </div>
            <div class="row gy-4 sp-item-menber">
                @foreach (var m in Model)
                {
                    string url = imageProcess.getImageUrl(m.Image);
                    <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="sp-member">
                            <div class="sp-img">
                                <img src="@url" />
                            </div>
                            <div class="sp-item-item">
                                <div class="name">
                                    <p>@m.Name</p>
                                </div>
                                <div class="position">
                                    <p> @m.Position</p>
                                </div>
                            </div>
                            <div class="sp-line">
                                <p></p>
                            </div>
                            <div class="sp-item-item-1">
                                <div class="phone sp-fz">
                                    <ion-icon name="call"></ion-icon>
                                    <p> @m.Phone</p>
                                </div>
                                <div class="email sp-fz">
                                    <ion-icon name="mail"></ion-icon>
                                    <p class="sp-fz"> @m.Email</p>
                                </div>
                            </div>
                            <div class="sp-lchat-btn">
                                <a>
                                    Live Support
                                </a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>

    
    <div class="section-header">
        <h2> Contact us</h2>
    </div>
    <div class="contact-form-container" data-aos="fade-up">

        <div class="f-right">
            <form id="contact-form">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" placeholder="Enter your message" required></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="f-left">
            <img src="~/assets/img/support/Contact us-pana.png" />
        </div>
    </div>
    <div class="map" data-aos="fade-up">
        <div class="map-map">
            <div class="lc-title">
                <h1>Location</h1>
            </div>
            <div class="lc-item">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7668.311839192586!2d108.17946493942567!3d16.057396764497668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142191afabb8f6d%3A0xe319e9d93b34b71a!2sHoa%20An%20Market!5e0!3m2!1sen!2s!4v1679912704835!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

</main>

